[Desktop Entry]
Name=Knowledge base (QML)
Name[bs]=Baza znanja (QML)
Name[de]=Wissensdatenbank (QML)
Name[es]=Base de conocimientos (QML)
Name[et]=Teadmusbaas (QML)
Name[fi]=Tietämyskanta (QML)
Name[fr]=Base de connaissances (QML)
Name[gl]=Base de coñecemento (QML)
Name[hu]=Tudásbázis (QML)
Name[it]=Base di conoscenza (QML)
Name[km]=មូលដ្ឋាន​ចំណេះដឹង (QML)
Name[ko]=지식 기반(QML)
Name[mr]=ज्ञान कोश (क्युएमएल)
Name[nl]=Kennisdatabase (QML)
Name[nn]=Kunnskapsbase (QML)
Name[pl]=Baza wiedzy (QML)
Name[pt]=Base de conhecimento (QML)
Name[pt_BR]=Base de conhecimento (QML)
Name[sk]=Vedomostná databáza (QML)
Name[sv]=Kunskapsbas (QML)
Name[tr]=Bilgi bankası (QML)
Name[uk]=База знань (QML)
Name[x-test]=xxKnowledge base (QML)xx
Comment=Open Collaboration Service Knowledge base client
Comment[bs]=Korisnička baza znanja otvorena za saradnju
Comment[de]=Wissensbasis-Programm für den Open-Collaboration-Dienst
Comment[es]=Cliente de base de conocimientos para el servicio de colaboración abierta
Comment[et]=Avatud koostööteenuste teadmusbaasi klient
Comment[fi]=Open Collaboration Servicen tietämyskanta-asiakas
Comment[fr]=Client de base de connaissances de « Open Collaboration Service »
Comment[gl]=Cliente aberto da base do servizo de coñecemento aberto
Comment[hu]=Open Collaboration Service tudásbáziskliens
Comment[it]=Client per la base di conoscenza di Open Collaboration Service
Comment[km]=បើក​ម៉ាស៊ីន​ភ្ញៀវ​មាន​មូលដ្ឋាន​លើ​ចំណេះដឹង​នៃ​សេវាកម្ម​សហការ
Comment[ko]=열린 협업 서비스 지식 기반 클라이언트
Comment[mr]=ओपन कोलेबोरेशन सेवा ज्ञान कोश ग्राहक
Comment[nl]=Client voor Open Collaboration Service Knowledge base
Comment[nn]=Open Collaboration Services-kunnskapsbaseklient
Comment[pl]=Otwórz klienta bazy wiedzy usługi kolaboracji
Comment[pt]=Cliente da base de conhecimento do Open Collaboration Service
Comment[pt_BR]=Cliente da base de conhecimento do Open Collaboration Service
Comment[sk]=Otvoriť klienta vedomostnej bázy Open Collaboration Service
Comment[sv]=Kunskapsbasklient för öppen samarbetstjänst
Comment[tr]=Açık İşbirliği Hizmet Bilgi Bankası istemcisi
Comment[uk]=Клієнтська частина бази знань служби Open Collaboration
Comment[x-test]=xxOpen Collaboration Service Knowledge base clientxx
Encoding=UTF-8

Icon=help-contents
Type=Service
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.knowledgebase
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/main.qml
