[Desktop Entry]
Encoding=UTF-8
Name=Welcome
Name[cs]=Vítejte
Name[de]=Willkommen
Name[es]=Bienvenido
Name[et]=Tere tulemast!
Name[fr]=Bienvenue
Name[gl]=Benvido
Name[hu]=Üdvözöljük
Name[km]=សូមស្វាគមន៍
Name[mr]=स्वागत
Name[nl]=Welkom
Name[pl]=Witaj
Name[pt]=Bem-Vindo
Name[pt_BR]=Bem-vindo
Name[sk]=Vitajte
Name[sv]=Välkommen
Name[tr]=Hoş Geldiniz
Name[ug]=مەرھابا
Name[uk]=Вітання
Name[x-test]=xxWelcomexx
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=ktip
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=300,200
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.welcome
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
