[Desktop Entry]
Name=News Reader
Name[bs]=Čitač novosti
Name[cs]=Klient pro čtení diskusních skupin
Name[de]=Usenet-Newsreader
Name[es]=Lector de noticias
Name[et]=Uudistelugeja
Name[fr]=Lecteur de forums
Name[gl]=Lector de noticias
Name[hu]=Hírolvasó
Name[km]=កម្មវិធី​អាន​ព័ត៌មាន
Name[mr]=बातम्या वाचक
Name[nl]=Nieuwslezer
Name[pl]=Czytnik aktualności
Name[pt]=Leitor de Notícias
Name[pt_BR]=Leitor de notícias
Name[sk]=Prehliadač správ
Name[sv]=Nyhetsläsare
Name[tr]=Haber Okuyucu
Name[ug]=خەۋەر ئوقۇغۇچ
Name[uk]=Читання новин
Name[x-test]=xxNews Readerxx
GenericName=Feed Reader
GenericName[bs]=Čitač dovoda
GenericName[cs]=Čtečka kanálů
GenericName[de]=Nachrichtenbetrachter
GenericName[es]=Lector de fuentes
GenericName[et]=Uudistevoogude lugemisvahend
GenericName[fr]=Lecteur de flux
GenericName[ga]=Léitheoir Fothaí
GenericName[gl]=Lector de fontes de novas
GenericName[hu]=Hírolvasó
GenericName[km]=កម្មវិធី​អាន​មតិព័ត៌មាន
GenericName[mr]= फीड वाचक
GenericName[nl]=Feedlezer
GenericName[pl]=Czytnik kanałów
GenericName[pt]=Leitor de Fontes
GenericName[pt_BR]=Leitor de fontes de notícias
GenericName[sk]=Čítačka RSS kanálov
GenericName[sv]=Kanalläsare
GenericName[tr]=Besleme Okuyucu
GenericName[uk]=Програма для читання подач
GenericName[x-test]=xxFeed Readerxx
Comment=A news feed reader for touch tablets
Comment[bs]=Čitač izvora novosti za tablete na dodir
Comment[de]=Ein Nachrichtensammler für Touch-Tabletts
Comment[es]=Un lector de fuentes de noticias para tabletas digitales
Comment[et]=Uudistevoogude lugeja puuteekraaniga tahvelarvutitele
Comment[fr]=Un agrégateur de flux pour les tablettes graphiques
Comment[gl]=Un lector de fontes de novas para tabletas táctiles
Comment[hu]=Hírolvasó tabletekhez
Comment[km]=កម្មវិធី​អាន​មតិព័ត៌មាន​សម្រាប់​ touch tablets
Comment[mr]=टच टॅब्लेट करिता बातम्या फीड वाचक
Comment[nl]=Een newsfeedlezer voor aanraaktablets.
Comment[pl]=Czytnik kanałów aktualności dla tabletów dotykowych
Comment[pt]=Um leitor de fontes noticiosas para tabletes por toque
Comment[pt_BR]=Um leitor de fontes de notícias por toque para tablets
Comment[sk]=Čítačka noviniek pre dotykové tablety
Comment[sv]=En nyhetskanalläsare för pekskärmar
Comment[tr]=Dokunmatik tabletler için bir besleme okuyucusu
Comment[uk]=Програма для читання подач на сенсорних планшетах
Comment[x-test]=xxA news feed reader for touch tabletsxx
Exec=export PLASMA_CUSTOM_PREFIX_PATHS=platformcontents/application/generic/:platformcontents/application/tablet/:contents/ && plasma-windowed -graphicssystem raster org.kde.news-qml
Terminal=false
Icon=active-news
Type=Application
Categories=Qt;KDE;News;
