[Desktop Entry]
Name=News Reader
Name[nl]=Nieuwslezer
Name[pt]=Leitor de Notícias
Name[pt_BR]=Leitor de notícias
Name[x-test]=xxNews Readerxx
GenericName=Feed Reader
GenericName[nl]=Feedlezer
GenericName[pt]=Leitor de Fontes
GenericName[pt_BR]=Leitor de fontes de notícias
GenericName[x-test]=xxFeed Readerxx
Comment=A news feed reader for touch tablets
Comment[nl]=Een newsfeedlezer voor aanraaktablets.
Comment[pt]=Um leitor de fontes noticiosas para tabletes por toque
Comment[pt_BR]=Um leitor de fontes de notícias por toque para tablets
Comment[x-test]=xxA news feed reader for touch tabletsxx
Exec=export PLASMA_CUSTOM_PREFIX_PATHS=platformcontents/application/generic/:platformcontents/application/tablet/:contents/ && plasma-windowed -graphicssystem raster org.kde.news-qml
Terminal=false
Icon=news-reader
Type=Application
Categories=Qt;KDE;News;
