[Desktop Entry]
Name=Microblog
Name[bs]=Mikroblog
Name[cs]=Mikroblog
Name[de]=Microblog
Name[es]=Microblog
Name[et]=Mikroblogi
Name[fi]=Mikroblogi
Name[fr]=Microblogue
Name[gl]=Microblogue
Name[hu]=Mikroblog
Name[it]=Microblog
Name[km]=Microblog
Name[ko]=마이크로블로그
Name[mr]=मायक्रो ब्लॉग
Name[nl]=Microblog
Name[pl]=Mikroblog
Name[pt]=Micro-blog
Name[pt_BR]=Microblog
Name[sk]=Mikroblog
Name[sv]=Mikroblogg
Name[tr]=Mikrogünlük
Name[ug]=مىكروبلوگ
Name[uk]=Мікроблог
Name[x-test]=xxMicroblogxx
GenericName=Microblog Client
GenericName[bs]=Mikroblog klijent
GenericName[cs]=Klient pro mikroblogování
GenericName[de]=Microblog-Client
GenericName[es]=Cliente Microblog
GenericName[et]=Mikroblogi klient
GenericName[fi]=Mikroblogiasiakas
GenericName[fr]=Client de microblogage
GenericName[gl]=Cliente de microblogue
GenericName[hu]=Mikroblog kliens
GenericName[it]=Client per Microblog
GenericName[km]=កម្មវិធី Microblog
GenericName[ko]=마이크로블로그 클라이언트
GenericName[mr]=मायक्रो ब्लॉग ग्राहक
GenericName[nl]=Microblog-client
GenericName[pl]=Klient Mikrobloga
GenericName[pt]=Cliente de Micro-Blog
GenericName[pt_BR]=Cliente do Microblog
GenericName[sk]=Klient pre mikroblog
GenericName[sv]=Mikroblogg-klient
GenericName[tr]=Mikrogünlük İstemcisi
GenericName[uk]=Клієнт мікроблогів
GenericName[x-test]=xxMicroblog Clientxx
Comment=Active Twitter & Identi.ca client
Comment[bs]=Aktivni Twitter i Identi.ca klijent
Comment[de]=Twitter & Identi.ca Programm für Active
Comment[es]=Cliente para Active Twitter e Identi.ca
Comment[et]=Active'i Twitteri ja Identi.ca klient
Comment[fi]=Aktiivinen Twitter- ja Identi.ca-asiakas
Comment[fr]=Client Active pour Twitter et Identi.ca
Comment[gl]=Cliente activo de Twitter e Identi.ca
Comment[hu]=Active Twitter és Identi.ca kliens
Comment[it]=Attiva un client Twitter & Identi.ca
Comment[km]=Twitter សកម្ម និង​កម្មវិធី ​Identi.ca
Comment[ko]=트위터 및 Identi.ca 클라이언트
Comment[mr]=सक्रिय ट्विटर व Identi.ca ग्राहक
Comment[nl]=Actieve client van Twitter & Identi.ca
Comment[pl]=Aktywny klient Twittera i Identi.ca
Comment[pt]=Cliente Activo do Twitter & Identi.ca
Comment[pt_BR]=Cliente do Active Twitter & Identi.ca
Comment[sk]=Active Twitter & Identi.ca klient
Comment[sv]=Aktiv Twitter och Identi.ca-klient
Comment[tr]=Etkin Twitter & Identi.ca istemcisi
Comment[uk]=Клієнт Twitter та Identi.ca для портативної Плазми
Comment[x-test]=xxActive Twitter & Identi.ca clientxx
Exec=export PLASMA_CUSTOM_PREFIX_PATHS=platformcontents/application/generic/:platformcontents/application/tablet/:contents/ && plasma-windowed -graphicssystem raster org.kde.microblog-qml
Keywords=identi.ca,twitter
Keywords[bs]=identi.ca,twitter
Keywords[cs]=identi.ca,twitter
Keywords[de]=identi.ca,twitter
Keywords[es]=identi.ca,twitter
Keywords[et]=identi.ca,twitter
Keywords[fi]=identi.ca,twitter
Keywords[fr]=identi.ca, twitter
Keywords[gl]=identi.ca,twitter
Keywords[hu]=identi.ca,twitter
Keywords[it]=identi.ca,twitter
Keywords[km]=identi.ca,twitter
Keywords[ko]=identi.ca,twitter,트위터
Keywords[mr]=identi.ca,twitter
Keywords[nds]=identi.ca,twitter
Keywords[nl]=identi.ca,twitter
Keywords[pl]=identi.ca,twitter
Keywords[pt]=identi.ca,twitter
Keywords[pt_BR]=identi.ca,twitter
Keywords[sk]=identi.ca,twitter
Keywords[sv]=identi.ca,twitter
Keywords[tr]=identi.ca,twitter
Keywords[uk]=identi.ca;twitter
Keywords[x-test]=xxidenti.ca,twitterxx

Terminal=false
Icon=active-news
Type=Application
Categories=Qt;KDE;News;
