[Desktop Entry]
Name=Microblog
Name[cs]=Mikroblog
Name[de]=Microblog
Name[es]=Microblog
Name[et]=Mikroblogi
Name[fr]=Microblogue
Name[hu]=Mikroblog
Name[km]=Microblog
Name[nl]=Microblog
Name[pl]=Mikroblog
Name[pt]=Micro-blog
Name[pt_BR]=Microblog
Name[sk]=Mikroblog
Name[sv]=Mikroblogg
Name[uk]=Мікроблог
Name[x-test]=xxMicroblogxx
GenericName=Microblog Client
GenericName[cs]=Klient pro mikroblogování
GenericName[de]=Microblog-Client
GenericName[es]=Cliente Microblog
GenericName[et]=Mikroblogi klient
GenericName[fr]=Client de microblogage
GenericName[hu]=Mikroblog kliens
GenericName[km]=កម្មវិធី Microblog
GenericName[nl]=Microblog-client
GenericName[pl]=Klient Mikrobloga
GenericName[pt]=Cliente de Micro-Blog
GenericName[pt_BR]=Cliente do Microblog
GenericName[sk]=Klient pre mikroblog
GenericName[sv]=Mikroblogg-klient
GenericName[uk]=Клієнт мікроблогів
GenericName[x-test]=xxMicroblog Clientxx
Comment=Active Twitter & Identi.ca client
Comment[es]=Cliente para Active Twitter e Identi.ca
Comment[et]=Active'i Twitteri ja Identi.ca klient
Comment[fr]=Client Active pour Twitter & Identi.ca
Comment[hu]=Active Twitter és Identi.ca kliens
Comment[km]=Twitter សកម្ម និង​កម្មវិធី ​Identi.ca
Comment[nl]=Actieve client van Twitter & Identi.ca
Comment[pl]=Aktywny klient Twittera i Identi.ca
Comment[pt]=Cliente Activo do Twitter & Identi.ca
Comment[pt_BR]=Cliente do Active Twitter & Identi.ca
Comment[sv]=Aktiv Twitter och Identi.ca-klient
Comment[uk]=Клієнт Twitter та Identi.ca для портативної Плазми
Comment[x-test]=xxActive Twitter & Identi.ca clientxx
Exec=export PLASMA_CUSTOM_PREFIX_PATHS=platformcontents/application/generic/:platformcontents/application/tablet/:contents/ && plasma-windowed -graphicssystem raster org.kde.microblog-qml
Keywords=identi.ca,twitter
Keywords[bs]=identi.ca,twitter
Keywords[cs]=identi.ca,twitter
Keywords[de]=identi.ca,twitter
Keywords[es]=identi.ca,twitter
Keywords[et]=identi.ca,twitter
Keywords[fr]=identi.ca,twitter
Keywords[hu]=identi.ca,twitter
Keywords[km]=identi.ca,twitter
Keywords[nds]=identi.ca,twitter
Keywords[nl]=identi.ca,twitter
Keywords[pl]=identi.ca,twitter
Keywords[pt]=identi.ca,twitter
Keywords[pt_BR]=identi.ca,twitter
Keywords[sk]=identi.ca,twitter
Keywords[sv]=identi.ca,twitter
Keywords[uk]=identi.ca,twitter
Keywords[x-test]=xxidenti.ca,twitterxx

Terminal=false
Icon=active-news
Type=Application
Categories=Qt;KDE;News;
