[Desktop Entry]
Encoding=UTF-8
Name=Microblogging (QML)
Name[et]=Mikroblogimine (QML)
Name[pt]=Microblog (QML)
Name[uk]=Ведення мікроблогу (QML)
Name[x-test]=xxMicroblogging (QML)xx
Comment=Update and view your microblog status.
Comment[et]=Oma mikroblogioleku uuendamine ja vaatamine.
Comment[pt]=Actualizar e ver o estado do seu micro-blog.
Comment[uk]=Оновіть і перегляньте ваш стан у мініжурналі.
Comment[x-test]=xxUpdate and view your microblog status.xx
Keywords=identi.ca,twitter
Keywords[et]=identi.ca,twitter
Keywords[pt]=identi.ca,twitter
Keywords[uk]=identi.ca,twitter
Keywords[x-test]=xxidenti.ca,twitterxx

Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.microblog-qml
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
