[Desktop Entry]
Encoding=UTF-8
Name=Microblogging (QML)
Name[cs]=Mikroblogování (QML)
Name[de]=Microblogging (QML)
Name[fr]=Microblogage (QML)
Name[nl]=Microblogging (QML)
Name[pt]=Micro-blog (QML)
Name[pt_BR]=Micro-blog (QML)
Name[sv]=Mikroblogg
Name[uk]=Ведення мікроблогу (QML)
Name[x-test]=xxMicroblogging (QML)xx
Comment=Update and view your microblog status.
Comment[cs]=Aktualizujte a prohlížejte stav svého mikroblogování.
Comment[de]=Status Ihres Microblogs aktualisieren und anzeigen.
Comment[fr]=Mettez à jour et affichez l'état de votre microblogue.
Comment[ga]=Nuashonraigh agus féach ar do stádas micreabhlagadóireachta.
Comment[nl]=Werk uw microblogstatus bij bekijk deze.
Comment[pt]=Actualizar e ver o estado do seu micro-blog.
Comment[pt_BR]=Atualiza e exibe o status do seu micro-blog.
Comment[sv]=Uppdatera och visa din mikroblogg-status.
Comment[uk]=Оновіть і перегляньте ваш стан у мініжурналі.
Comment[x-test]=xxUpdate and view your microblog status.xx
Keywords=identi.ca,twitter
Keywords[cs]=identi.ca,twitter
Keywords[de]=identi.ca,twitter
Keywords[fr]=identi.ca,twitter
Keywords[nds]=identi.ca,twitter
Keywords[nl]=identi.ca,twitter
Keywords[pt]=identi.ca,twitter
Keywords[pt_BR]=identi.ca,twitter
Keywords[sv]=identi.ca,twitter
Keywords[uk]=identi.ca,twitter
Keywords[x-test]=xxidenti.ca,twitterxx

Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.microblog-qml
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
