[Desktop Entry]
Comment=
Encoding=UTF-8
Keywords=
Name=Microblog
Name[es]=Microblog
Name[nds]=Lüttdaagbook
Name[pt]=Microblog
Name[pt_BR]=Microblog
Name[sv]=Mikroblogg
Name[uk]=Мікроблог
Name[x-test]=xxMicroblogxx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.microblog
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
