[Desktop Entry]
Encoding=UTF-8
Name=Microblogging (QML)
Name[et]=Mikroblogimine (QML)
Name[pt]=Microblog (QML)
Name[pt_BR]=Micro-blog (QML)
Name[sv]=Mikroblogg
Name[uk]=Ведення мікроблогу (QML)
Name[x-test]=xxMicroblogging (QML)xx
Comment=Update and view your microblog status.
Comment[et]=Oma mikroblogioleku uuendamine ja vaatamine.
Comment[pt]=Actualizar e ver o estado do seu micro-blog.
Comment[pt_BR]=Atualiza e exibe o status do seu micro-blog.
Comment[sv]=Uppdatera och visa din mikroblogg-status.
Comment[uk]=Оновіть і перегляньте ваш стан у мініжурналі.
Comment[x-test]=xxUpdate and view your microblog status.xx
Keywords=identi.ca,twitter
Keywords[et]=identi.ca,twitter
Keywords[pt]=identi.ca,twitter
Keywords[pt_BR]=identi.ca,twitter
Keywords[sv]=identi.ca,twitter
Keywords[uk]=identi.ca,twitter
Keywords[x-test]=xxidenti.ca,twitterxx


Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=view-pim-journal
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-DefaultSize=300,200
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.microblog-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
