[Desktop Entry]
Encoding=UTF-8
Name=Microblogging (QML)
Comment=Update and view your microblog status.
Keywords=identi.ca,twitter


Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=view-pim-journal
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-DefaultSize=300,200
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.microblog-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
