[Desktop Entry]
Encoding=UTF-8
Name=Social News (QML)
Name[cs]=Sociální zprávy (QML)
Name[de]=Nachrichten (soziale Netzwerke) (QML)
Name[es]=Noticias sociales (QML)
Name[et]=Sotsiaalsed uudised (QML)
Name[fr]=Bulletin d'informations (QML)
Name[gl]=Novas sociais (QML)
Name[hu]=Közösségi hírek (QML)
Name[km]=ព័ត៌មាន​សង្គម (QML)
Name[mr]=सामाजिक बातम्या (क्युएमएल)
Name[nl]=Sociaal nieuws (QML)
Name[pl]=Aktualności społeczne (QML)
Name[pt]=Notícias Sociais (QML)
Name[pt_BR]=Notícias sociais (QML)
Name[sk]=Sociálne novinky (QML)
Name[sv]=Sociala nyheter (QML)
Name[uk]=Соціальні новини (QML)
Name[x-test]=xxSocial News (QML)xx
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=akregator
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=300,200
X-Plasma-RequiredExtensions=LaunchApp
X-KDE-PluginInfo-Author=Lukas Appelhans
X-KDE-PluginInfo-Email=l.appelhans@gmx.de
X-KDE-PluginInfo-Name=org.kde.social-news-qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
